* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;

}





.fi2firstbanner {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 80px;

}
.notice-div {
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.notice-div tbody tr td a {
    text-decoration: none;
    color: #008892;
}

tbody tr {
    width: 100%;
}
tbody tr td {
    padding: 15px;

}
.notice-div table thead tr th {
    font-size: 25px;
    padding: 5px;
}

@media (max-width:700px) {
    body {
        background: white;

        width: 500px;

    }

    .shovapoti-speech {
        font-size: 18px;
    }

    .hr3 , .hr4 {
        border: none;
        padding-top: 1.5px;
        padding-bottom: 1.5px;
        background: blue;

        display: flex;
    }
    .hr3 {
        transform: rotate(135deg);
    }
    .hr4 {
        transform: rotate(45deg);
        margin-top: -1px;
    }

 
    .shovapoti-div {
        margin-top: 5%;
        margin-bottom: 5%;
        background: skyblue;
        margin-left: 2%;
        margin-right: 3%;
        align-items: center;
        justify-content: center;
        display: block;
        border-radius: 20px;
        background: lime;
        padding-top: 5%;
    }

    .hr {
        background: chocolate;
        padding-top: 10px;
        border: none;

    }
  


















    
  






    .table-notice {
        border: 6px solid #00D6FF;
        width: 480px;

    }
    .thead-notice {
        border: 2px solid #00D6FF;
    }
    .tbody-notice {
        border: 2px solid #00D6FF;

    }


    .td1-notice {
        width: 300px;
    }
    .shovapoti-img {
        width: 200px;
        height: 230px;

    }
    .shovapoti-img-1 {
        width: 200px;
        height: 220;
    }





.form-contact input {
        font-size: 15px;
        font-weight: 500;
        width: 400px;
        height: 30px;
        margin-top: 10px;
        border: 3px solid lime;
        box-shadow: 0 0 5px lime;
        padding: 10px 4px;

    }
    .textarea-contact {
        width: 400px;
        height: 300px;
        margin-top: 10px;
        border: 3px solid lime;
        box-shadow: 0 0 5px lime;
        padding: 10px 4px;

}










}








@media (min-width:701px) {
   



    .form-contact input {
        font-size: 19px;
        font-weight: 700;
        width: 700px;
        height: 40px;
        margin-top: 15px;
        border: 3px solid lime;
        box-shadow: 0 0 5px lime;
    }
    .textarea-contact {
        width: 700px;
        height: 400px;
        margin-top: 10px;
        border: 3px solid lime;
        box-shadow: 0 0 5px lime;
        box-sizing: border-box;

    }
   



    .table-notice {
        border: 5px solid #00D6FF;
        width: 700px;

    }
    .thead-notice {
        border: 2px solid #00D6FF;
    }
    .tbody-notice {
        border: 2px solid #00D6FF;

    }


    .td1-notice {
        width: 500px;
    }
    .shovapoti-img {
        width: 200px;
        height: 230px;

    }
    .shovapoti-img-1 {
        width: 220px;
        height: 220;
    }






























}


.submit-button:active {
        width: 200px;
        height: 55px;
        background: blue;
        color: white;
        font-weight: bold;
        font-size: 30px;
        border: 2px solid blue;
        border-radius: 50px;
        margin: 22px;

    }


.submit-button {
        width: 190px;
        height: 50px;
        background: white;
        color: blue;
        font-size: 28px;
        border: 2px solid blue;
        border-radius: 40px;
        margin: 19px;
        transition: 0.5s;

    }



.form-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .form-contact input::placeholder ,

    .textarea-contact::placeholder {
        color: rgba(0,0,0,0.5);
        font-weight: bold;
        font-size: 15px;
        font-family: sens-serif;
        transform: translateX(10px);
        

    }
    .form-contact input:hover , .textarea-contact:hover {
        border: none;
        box-shadow: 0 0 15px #FFFB00;




    }
    


.contact-send-message {
    text-align: center;
}
