* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.linkglowbutton {
    position: relative;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.2cm;
    letter-spacing: 0.001cm;
    font-weight: 900;
    padding: 3px 8px;
    transition: 0.5s;
    border: none;
    font-family: serif;
    margin-right: 2px;
    height: 20px;
    cursor: pointer;
}
.linkglowbutton:hover {
    box-shadow: 0 0 15px var(--clr);
    letter-spacing: 0.015cm;
    color: var(--clr);
    background: var(--clr);
    border: none;
}
.linkglowbutton:before {
    content: '';
    position: absolute;
    inset: 2px;
    background: white;
    border: none;
}
.spanglowbutton {
    position: relative;

}
.iglowbutton {
    position: absolute;
    inset: 0;
}
.iglowbutton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 8px;
    height: 2.2px;
    background: black;
    transition: 0.5s;
    transform: translateX(-50%) skewX(325deg);
}
.linkglowbutton:hover .iglowbutton::before {
    width: 15px;
    left: 20%;
}
.iglowbutton::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 8px;
    height: 2.5px;
    background: black;
    transition: 0.5s;
    transform: translateX(-50%) skewX(325deg);
}
.linkglowbutton:hover .iglowbutton::after {
    width: 15px;
    left: 80%;
}


.fi2firstbanner {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 80px;

}

.home-background {
    display: flex;
    width: 100%;
    height: 450px;
    position: center;
    object-fit: cover;
    bottom: 0;

}

.div-of-home-page-photos-and-banner {
    margin-left: 2%;
    margin-right: 3%;
}

.home-container-of-banner-button-header {
    margin-bottom: 1px;
}
.div-of-home-text1,
.div-of-home-text2,
.div-of-home-text3, {
    margin-top: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;


}

.image-home-1,
.image-home-2,
.image-home-3 {
    margin-top: 5%;
    width: 160px;


    margin-bottom: 50px;
}
.home-all-history {
    display: flex;
    margin-top: 3px;
    background: rgba(255,255,184,0.4);
    margin-left: 2%;
    margin-right: 3%;
    padding: 2%;

}

.para {
    color: black;
    font-size: 15px;
    text-align: center;
    display: flex;
    background: #FFF6;
    margin-top: 2%;
    margin: 2%;
    padding: 3%;
    padding-bottom: 5%;
    font-weight: 300;
    border-radius: 30px;

}
@media (max-width:700px) {
    body {
        background: white;
        width: 500px;

    }
    .div-of-google-embed{
        margin-left: -15px;
        margin: auto;
        width:450px ;
        height: 500px;
        background: blue;
    }
    .div-of-facebook-embed{
        width: 450px;
        height: 450px;
        background: red;
        margin: auto;
    
    }
    .div-of-home-chart-2-second {
        margin-top: 5%;
        margin-bottom: 5%;
        background: black;
        margin-left: 2%;
        margin-right: 2%;
        align-items: center;
        justify-content: center;
        height: 270px;
        width: 450px;


    }
    .shovapoti-speech {
        font-size: 18px;
    }
    .close {
        flex-direction: column;
        padding: 10px 10px;
        display: flex;
        width: 70px;
        height: 70px;
        background: #FFF364;
        justify-content: center;
        transform: translateY(-160px) translateX(20px);
        border-radius: 50px;
        transition: 1s;

    }
    .close:hover {
        background: lime;

    }
    .hr3 , .hr4 {
        border: none;
                padding-top: 1.5px;
        padding-bottom: 1.5px;
        background: blue;

        display: flex;
    }

    .hr3 {
        transform: rotate(135deg);
    }
    .hr4 {
        transform: rotate(45deg);
        margin-top: -1px;
    }
    .menu {
        height: 70px;
        width: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transform: translateY(0) translateX(390px);
        border: 2px solid blue;
        background: white;
        border-radius: 35px;
        margin-bottom: 8px;
        padding: 8px;
        transition: 1s;

    }
    .menu:hover {

        border: 2px solid royalblue;
        background: #F9FF7D;
    }
    .last-para {
        text-align: center;
        font-size: 15px;
    }
    .div-of-home-chart-2-second-2 {
        margin-left: 2%;
        margin-right: 3%;
        flex: 1;
        display: block;
        border-radius: 20px;
        border: 5px solid black;
    }
    .div-of-home-chart-2-second-2-420 {
        margin-top: 5%;
        margin-bottom: 5%;
        background: skyblue;
        margin-left: 2%;
        margin-right: 3%;
        align-items: center;
        justify-content: center;
        flex: 1;
        display: block;
        border-radius: 20px;
        background: lime;
    }
    .shovapoti-div {
        margin-top: 5%;
        margin-bottom: 5%;
        background: skyblue;
        margin-left: 2%;
        margin-right: 3%;
        align-items: center;
        justify-content: center;
        display: block;
        border-radius: 20px;
        background: lime;
        padding-top: 5%;
    }
    .div-of-home-chart-1 , .div-of-home-chart-2,
    .div-of-home-chart-3 , .div-of-home-chart-4 {

        margin-top: 5%;
        margin-bottom: 5%;
        background: skyblue;
        margin-left: 4%;
        margin-right: 4%;
        align-items: center;
        justify-content: center;


    }

    .hr {
        background: chocolate;
        padding-top: 10px;
        border: none;

    }
    .last-div {
        display: block;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .li-of-charts {
        margin-left: 25%;
    }
    .li-of-charts-second {
        margin-left: 15%;

    }

    .div-of-home-chart {
        display: block;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .home-all-history {
        display: block;
        margin: default;
        padding-bottom: 50px;
    }
    .paralink1 {
        font-size: 20px;
        text-align: center;
        display: flex;
        background: #00CAFF;
        margin: 5%;
        margin-left: 5%;
        padding-left: 17%;
        padding-right: 14%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-weight: 800;
        margin-top: -3%;
        text-decoration: none;
        margin-bottom: 1%;
        color: #fff;
    }
    .image-home-1,
    .image-home-2,
    .image-home-3 {
        margin-top: 5%;
        width: 150px;


        margin-bottom: -2%;
    }
    .div-of-home-text1 {
        margin-top: 55px;
    }
    .linkglowbutton {
        position: relative;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.4cm;
        letter-spacing: 0.001cm;
        font-weight: bold;
        padding: 3px 8px;
        transition: 0.5s;
        border: none;
        font-family: serif;
        margin-right: 110px;
        height: 30px;
        display: flex;
        margin-bottom: 15px;
        margin-left: 20px;
        text-align: center;
    }

    .glowbuttondiv {

        padding-top: 170px;
        position: fixed;
        height: 500px;
        width: 220px;
        border-radius: 10px;
        margin-right: 6px;
        z-index: 1;

        background: #E6F5FF;
        margin-top: -4px;
        right: -300px;
        transition: 1s;
    }

    .glowbuttondiv-2 {
        transform: translateY(-100px);
    }

    .para-chart-1-second {

        font-size: 20px;
        font-family: Arial;
        font-weight: 800;
        color: #fff;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 70px;
        margin-right: 9%;
        margin-left: 9%;
        background: tan;
        transform: translateY(20%);
        text-align: center;
    }
    .anchor-of-li-chart-1-second {
        font-size: 16px;
        text-decoration: none;
        text-align: center;
        color: blue;
        font-weight: 750;
        margin-left: -10px;
        font-family: Arial;
    }
    .div-para-address , .div-para-email , .div-para-telephone {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: -10px;
        flex: 1;
        margin: 15px;
        background: linear-gradient(#00FF50 , #00FFD1) ;
        height: 200px;

    }
    .proshasonik-link-container-11 {

        flex-direction: column;
        display: none;
        align-items: right;
        justify-content: right;
        width: 200px;
        transform: translateX(50px) translateY(-396px);
        height: 0;
        transition: 1s;


    }
    .proshasonik-link-container-22 {

        flex-direction: column;
        display: none;
        align-items: right;
        justify-content: right;
        width: 200px;
        transform: translateX(50px) translateY(-303px);
        height: 0;
        transition: 1s;


    }


}
.h1-of-embed{
    text-align: center;
    transform: translateY(200px);
    color: #fff;
    font-family: Arial;
}
@media (min-width:701px) {
    .div-of-google-facebook-embed{
        display: flex;
        flex-direction: row;
    }
    .div-of-facebook-embed {
        width: 380px;
        height: 500px;
        background: red;
        margin: auto;
        margin-right: -15px;
    }
    .div-of-google-embed{
        margin-left: -15px;
        margin: auto;
        width:480px ;
        height: 500px;
        background: blue;
    }
    .proshasonik-link-container-11 {

        flex-direction: column;
        display: none;
        align-items: right;
        justify-content: right;
        width: 200px;
        transform: translateX(214px) translateY(20px);
        height: 0;
        transition: 1s;


    }
    .proshasonik-link-container-22 {

        flex-direction: column;
        display: none;
        align-items: right;
        justify-content: right;
        width: 200px;
        transform: translateX(375px) translateY(20px);
        height: 0;
        transition: 1s;


    }
    .shovapoti-speech {
        font-size: 10px;
    }
    .div-menu {
        display: none;
    }
    .close {
        display: none;
    }
    .menu {
        display: none;

    }
    .linkglowbutton {
        position: relative;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.4cm;
        letter-spacing: 0.001cm;
        font-weight: 900;
        padding: 5px 10px;
        transition: 0.5s;
        border: none;
        font-family: serif;
        margin-right: 2px;
        height: 30px;
    }
    .hr2 {
        display: none;
    }
    .hr {

        background: tansparent;
        padding-top: 0px;
        border: none;
    }
    body {
        background: white;

        width: 1000px;
        margin-left: 5px;
    }

    .anchor-of-li-chart-1-second {
        font-size: 13px;
        text-decoration: none;
        text-align: center;
        color: blue;
        font-weight: 750;
        font-family: Arial;

    }
    .last-para {
        text-align: center;
        font-size: 7px;
    }
    .para-chart-1-second {

        font-family: Arial;
        font-size: 25px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 70px;
        margin-right: 9%;
        margin-left: 9%;
        background: tan;
        transform: translateY(20%);
        text-align: center;
    }
    .div-of-home-chart-1 , .div-of-home-chart-2,
    .div-of-home-chart-3 , .div-of-home-chart-4 {
        margin-top: 5%;
        margin-bottom: 5%;
        background: skyblue;
        margin-left: 1%;
        margin-right: 1%;
        align-items: center;
        justify-content: center;
        flex: 1;

    }
    .li-of-charts {
        margin-left: 10%;

    }
    .div-of-home-chart-2-second {
        margin-top: 5%;
        margin-bottom: 5%;
        background: black;
        margin-left: 2%;
        margin-right: 2%;
        align-items: center;
        justify-content: center;
        width: 800px;


    }
    .div-of-home-chart-2-second-2 {
        margin-top: 5%;
        margin-bottom: 5%;
        border: 5px solid black;
        margin-left: 2%;
        margin-right: 2%;
        align-items: center;
        justify-content: center;
        height: 270px;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
    }
    .div-of-home-chart-2-second-2-420 {
        margin-top: 5%;
        margin-bottom: 5%;
        background: skyblue;
        margin-left: 2%;
        margin-right: 2%;
        align-items: center;
        justify-content: center;
        height: 250px;
        width: 950px;
        display: flex;
        flex-direction: row;
    }

    .last-para {
        font-size: 15px;
        text-align: center;
    }
    .last-div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 50px;
        padding-left: 50px;

    }


    .div-of-home-chart-second {
        display: flex;
        height: 410px;

    }
    .li-of-charts-second {
        margin-left: 15%;
    }
    .div-of-home-chart {
        display: flex;

    }
    .paralink1 {
        font-size: 20px;
        text-align: center;
        display: flex;
        background: #00CAFF;
        margin: 5%;
        margin-left: 5%;
        padding-left: 14%;
        padding-right: 14%;
        padding-top: -2%;
        padding-bottom: -2%;
        font-weight: 800;
        margin-top: -3%;
        text-decoration: none;
        margin-bottom: 3%;
        color: #fff;
    }
    .image-home-1,
    .image-home-2,
    .image-home-3 {

        width: 160px;

        height: 180px;
        margin-bottom: -2%;
    }
    .glowbuttondiv {

        text-align: right;
        background: skyblue;
        padding-top: 5px;
        padding-bottom: 5px;
        display: inline-block;
        width: 100%;
        transform: translateY(0);



    }
    .glowbuttondiv-2 {
        justify-content: center;
        align-items: center;
        text-align: right;
        background: #84ABC5;
        display: flex;
        height: 50px;

        transform: translateY(0);
        margin-left: 100px;
        margin-right: 100px;
        border-radius: 50px;
    }
    .final-glowbuttondiv-420 {
        width: 100%;
        display: flex;
        margin-bottom: 20px;


    }

    .fi2firstbanner {

        margin-bottom: 0;


    }


    .news-ticker-home-page .breaking-news {
        position: absolute;
        background: green;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 4px;
        color: white;
        font-size: 2px;
        font-weight: bold;
        z-index: 2;
        width: 10%;
        text-decoration: none;
    }
    .div-para-address {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: none;
        height: 90px;
        transform: translateY(-50px);

    }
    .div-para-email , .div-para-telephone {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: -15px;
        background: none;
        height: 50px;

    }

}







.paralink-header {
    font-size: 20px;
    text-align: center;
    display: flex;
    color: rgb(255,255,0);
    background: linear-gradient(black , rgba(0,0,0,0.5));
    margin: 5%;
    margin-left: 5%;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: 800;
    margin-top: 5%;
    margin-bottom: -5%;
    text-decoration: none;
}
.news-ticker-home-page {
    position: fixed;

    font-family: Roboto ,Sans-Serif;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0 ,1.0);
    text-decoration: none;
    width: 100%;
    top: 0;
    left: 0;
    margin-left: 0%;
    margin-top: 2%;
    margin-right: 5%;
    overflow: hidden;
    background: white;
}
.news-ticker-home-page .breaking-news {
    position: absolute;
    background: brown;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 4px;
    color: white;
    font-size: 2px;
    font-weight: bold;
    z-index: 1;
    width: 100px;
    text-decoration: none;

}
.news-ticker-home-page ul {
    display: flex;
    list-style: none;
    margin: 0;
    animation: scroll 14s linear infinite;
    text-decoration: none;
}
.news-ticker-home-page ul li {
    white-space: nowrap;
    padding: 15px 30px;
    color: blue;
    position: relative;
    text-decoration: none;
}
.news-ticker-home-page ul li::after {
    width: 1px;
    height: 100%;
    background: black;
    top: 0;
    right: 0;
    text-decoration: none;
}
.news-ticker-home-page ul li:last-child::after {
    display: none;
    text-decoration: none;
}
@keyframes scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
.ul-of-all-newses {
    text-decoration: none;
}
.para-breaking {
    margin-right: 20px;
    margin-left: 10px;
    font-size: 15px;
    margin-bottom: 10px;

}
.para-news {
    margin-top: 20px;
    margin-left: -45px;
    font-size: 15px;

}
.link-news-breaking {
    text-decoration: none;
    color: black;
}


.div-of-home-chart-1 , .div-of-home-chart-2,
.div-of-home-chart-3 , .div-of-home-chart-4 {
    margin-top: 5%;
    margin-bottom: 5%;
    background: #FFFFFF;
    align-items: center;
    justify-content: center;
    height: 200px;
    border-radius: 20px;

}

.div-of-home-chart-1-second,.div-of-home-chart-2-second,.div-of-home-chart-3-second {
    margin-top: 5%;
    margin-bottom: 5%;
    background: white;
    align-items: center;
    justify-content: center;

    border-radius: 20px;

}
.div-of-home-chart {

    background: rgba(255,255,184,0.4);
    margin-left: 2%;
    margin-right: 3%;

}
.para-chart-1 {
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 70px;
    margin-right: 10%;
    margin-left: 10%;
    background: tan;
    transform: translateY(20%);
    text-align: center;

}

.anchor-of-li-chart-1 {
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: blue;
    font-weight: 750;
}


.div-of-home-chart-second {

    background: rgba(255,255,184,0.4);
    margin-left: 2%;
    margin-right: 3%;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.div-of-home-chart-2-second-charts {
    display: flex;
    flex-direction: row;

}

.last-div {

    background: rgb(255,255,184,0.4);
    margin-left: 2%;
    margin-right: 3%;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.hr2 {

    background: blue;
    padding: 3px;
    border: none;
    margin: 5px;
    border-radius: 3px;
}

.div-of-home-chart-2-second-b {
    width: 230px;
}
.div-of-home-chart-2-second-a {
    width: 200px;
}
.google , .facebook , .youtube ,.address-icon ,.email-icon ,.telephone-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.last-h3 {
    text-align: center;
}



.address-h2 , .telephone-h2 , .email-h2 {
    text-align: center;
}
.address-para , .telephone-para , .email-para {
    text-align: center;
    font-weight: bold;
}
.div-menu {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    background: deepskyblue;
    margin-bottom: 10px;
}

.shovapoti-hr1 {
    display: flex;
    width: 80%;
    background: black;
    border: 3px solid black;

}
.shovapoti-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.shovapoti-para {
    text-align: center;
}
.shovapoti-img {
    width: 200px;
    height: 240px;
}
.shovapoti-img-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shovapoti-speech-div {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5%;

}

.telephone-email-div {
    display: flex;
    flex-direction: row;
    transform: translateY(1px);
}
.home-all-history-img {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.proshasonik-link-1 {
    text-decoration: none;
    text-align: center;
    color: var(--clr);
    font-weight: bold;
    text-shadow: 0.7px 0 var(--clr);
    background: white;
    border: 2px solid var(--clr);
    border-radius: 10px;
    padding: 2px 5px;
    width: 90px;
    font-size: 10px;
    margin-left: 65px;
    margin-top: 2px;
    margin-bottom: 3px;
    transition: 1s;
    flex-direction: column;
    box-shadow: 0 0 5px 2px var(--clr);
}
